@page
@model WebApp_UnderTheHood.Pages.HumanResourceModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome to Human Resource Department</h1>
    <br/>
    <ul>
        @foreach(var item in Model.weatherForecastItems)
        {
            <li>@item.Date.ToLongDateString() - @item.Summary</li>
        }
    </ul>
</div>